/* css reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* changed header div to nav tag */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

body {
    background-color: #d9dcd6;
}


/* combined all h1 together */
h1 {
    font-size: 48px;
    display: inline-block;
}

/* removed all classes for h2 */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* removed all classes associated with h3 */
h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #ffffff;
}

/* specs of any paragraph */
p {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 32px;
}

/* specs of paragraphs in lead generation, brand awareness, card management */
.benefits p {
    margin: 20px;
}

/* specific colour for heading span */
span {
    color: #d9dcd6;
}

/* specific colour for links */
a {
    color: #ffffff;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
}

/* changed main image Horiseon Employees In a Meeting to id */
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* left section of page */
.content {
    display: inline-block;
    margin-bottom: 20px;
    width: 70%;
}

/* individual sections in left section of page */
.card {
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 30px;
    height: 250px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* search engine optimisation, social media marketing headings and paragraphs */
.right {
    float: right;
    width: 65%;
}

/* images associated with above section*/
.float-left {
    float: left;
    margin-bottom: 15px;
    max-height: 200px;
}

/* Online Reputation Management heading and paragraph */
.left {
    float: left;
    width: 65%;
}

/* images associated with above section*/

.float-right {
    float: right;
    margin-bottom: 15px;
    max-height: 200px;
}

/* right section of page */
.benefits {
    padding: 10px;
    float: right;
    clear: both;
    width: 27%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    margin-right: 20px;
}

/* applied all images styles using div class */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* changed div to footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* heading in footer */
footer h2 {
    font-size: 20px;
    color: black;
}

/* footer paragraph */
footer p {
    color: black;
    text-align: center;
}