/* css reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

body {
    background-color: #d9dcd6;
}



/* changed header div to nav tag */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* compiled all h1 together */
h1 {
    font-size: 48px;
    display: inline-block;
}

/* removed all classes for h2 */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* to handle heading of images floating on left */
.h2-right {
    width: 50%;
    position: relative;
    left: 350px;
}


/* to handle heading of images floating on right */
.h2-left {
    width: 50%;
    position: relative;
    right: -20px;
}


/* removed all classes associated with h3 */
h3 {
    margin-bottom: 10px;
    text-align: center;
    color: #ffffff;
}

/* specs of any paragraph */
p {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 32px;
    text-align: justify;
}

/* to handle paragraph of images floating on right */
.p-right {
    width: 65%;
    position: relative;
    left: 349px;
    top: 0px;
    text-align: justify;
}

/* to handle paragraph of images floating on left */
.p-left {
    width: 73%;
    position: relative;
    right: -20px;
    top: 0px;
    text-align: justify;
}

/* specific colour for heading span */
span {
    color: #d9dcd6;
}

/* specific colour for links */
a {
    color: #ffffff;
    text-decoration: none;
}

/* created new id for header list, only position */
ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
}

/* changed main image to id */
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* left section of page */
.content {
    width: 76%;
    height: 100%;
    display: inline-block;
    margin: 20px;
}

.content div {
    margin-bottom: 20px;
    padding: 20px;
    height: 250px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

#top {
    position: relative;
    top: -125px;
    left: 25px;
    max-height: 200px;
}

#middle {
    position: relative;
    top: -125px;
    left: 1083px;
    max-height: 200px;
    display: inline-block;
}

#bottom {
    position: relative;
    top: -125px;
    left: 25px;
    max-height: 200px;
}

/* right section of page */
.benefits {
    margin-right: 20px;
    padding: 10px;
    float: right;
    clear: both;
    width: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* applied all images styles using div class */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* changed div to footer */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* heading in footer */
footer h2 {
    font-size: 20px;
    color: black;
}

/* footer paragraph */
footer p {
    color: black;
    text-align: center;
}