* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header div {
    padding-top: 15px;
    margin: 0 auto;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* compiled all h1 together */
h1 {
    font-size: 48px;
    display: inline-block;
}
/* removed all classes for h2 */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* removed all classes associated with h3 */
h3 {
    margin-bottom: 10px;
    text-align: center;
    color: #ffffff;
}

p {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 32px;
    text-align: center;
}

span {
    color: #d9dcd6;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* created new id for header list */
ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
}

/* changed main image to id */
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

.float-left {
    margin-right: 25px;
    float: left;
    max-height: 200px;
    }

.float-right {
    margin-left: 25px;
    float: right;
    max-height: 200px;  
}
.content {
    width: 75%;
    height: 100%;
    display: inline-block;
    margin-left: 20px;
}
.content div {
    margin: 0 auto;
    padding: 20px;
    height: 250px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    float: right;
    clear: both;
    width: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* applied all images styles using div class */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

footer p {
    color: black;
}

.h2-right {
    width: 50%;
    position: absolute;
    left: 350px;
}

.p-right {
    width: 50%;
    position: absolute;
    left: 350px;
    margin-top: 50px;
    text-align: justify;
}
.h2-left {
    width: 50%;
    position: absolute;
    right: 915px;
}
.p-left {
    width: 50%;
    position: absolute;
    right: 915px;
    margin-top: 50px;
    text-align: justify;
}

div {
    resize: both;
    overflow: auto;
  }